/*BASE STYLES*/

* {
    margin: 0;
    padding: 0;
    border: 0;
 }

:root {
    --primary-color: black;
  }

  @font-face {
    font-family: 'PiecesOfEight';
    src: url('fonts/PiecesofEight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'UglyQua';
    src: url('fonts/UglyQua.ttf') format('truetype');
  }

  body {
    background: #dcc9a7;
    font-family: 'UglyQua',sans-serif;
    font-size: 18px;
    color: #020202;
  }

  h1 {
    font-family: 'PiecesOfEight', sans-serif;
    font-size: 72px;
    color: #bb2326;
  } 

  h2 {
    font-family: 'PiecesOfEight', sans-serif;
    font-size: 40px;
    color: #020202;
  }

  h3 {
    font-family: 'PiecesOfEight', sans-serif;
    font-size: 28px;
    color: #020202;
  }

  .primary-button {
    background-color: #bb2326;
    color: #fbf8e0;
    padding: 12px 28px;
    border-radius: 4px;
    border: transparent;
    font-family: 'UglyQua', sans-serif;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
  }

  .primary-button:hover {
    background-color: #fbf8e0;
    color: #bb2326;
  }

  header {
    background-image: linear-gradient(to right, #020202, #b18852);
    height: 50px;
    align-content: center;
  }

  nav a {
    color: #fbf8e0;
    text-decoration: none;
  }
 
  .nav_home {
    padding: 30px;
    margin-left: 10%;
    margin-right: 50%;
    text-transform: uppercase;
  }

  .nav_page {
    padding: 3px;
  }

  .secondary-button {
    background-color: #b18852; 
    color: #020202;            
    padding: 12px 28px;
    border-radius: 4px;
    border: transparent;
    font-family: 'UglyQua', sans-serif;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .secondary-button:hover {
    background-color: #020202; 
    color: #b18852;
  }   

/*END BASE STYLES*/

/*MEDIA QUERIES*/
  @media screen and (max-width: 1100px) {
    header {
      height: 5vw;
      align-content: center;
      width: 100vw;
    }
    .nav_home {
      padding: 30px;
      margin-left: 10vw;
      margin-right: 30vw;
      text-transform: uppercase;
      font-size: 12px;
    }
  
    .nav_page {
      padding: 3px;
      font-size: 12px;
    }

    .primary-button {
      padding: 5px 12px;
      border-radius: 4px;
      border: transparent;
      font-size: 10px;
      text-decoration: none;
      cursor: pointer;
    }

/*SOUNDTRACK MEDIA QUERIES*/
    .soundtrack_hero_title {
      font-size: 64px;
    }

    .soundtrack_hero_subtitle {
      font-size: 25px;
      padding-top: 20px;
    }

    .soundtrack_content_tracks_container {
      
    }  
    
  }

/*END MEDIA QUERIES*/

/*Individual page styles go below. 

!!!Please keep them organized!!!

When naming classes for your individual pages, use BEM naming conventions 
(e.g., about__header) to avoid confusion and keep things tidy.*/


  /*HOMEPAGE STYLES*/
.home_content {
  max-width: 90vw;
  justify-self: center;
  margin: 20px;
}

.home_hero {
  position: relative;
  width: 100vw;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_hero_content {
  background-color: DCC9A7;
  background-size: cover;
  height: 33vh;
  width: 100vw;
  background-repeat: no-repeat;
  justify-items: center;
}


.home_content_image_container {
  display: flex;
  width: 100vw;
  justify-items: center;
  margin-top: 30px;
  height: 600px;
  column-gap: 10px;
}
  /*END HOMEPAGE STYLES*/


  /*PLOT PAGE STYLES*/
  .plot-hero {
    background-position: center;
    background-image: url(Images/PoC_Hero-Image-1.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding: 40px 0;
  }
  .plot-hero__title, .plot-hero__subtitle {
    color: #fbf8e0;
  }
  .plot-hero__title {
    margin: 10px 500px 0 60px;
  }
  .plot-hero__subtitle {
    margin: 0 500px 10px 60px;
  }
  .plot-hero__sub-heading {
    word-spacing: 4px;
  }
  .plot-hero__sub-heading, .plot-hero__copy {
    color: #fbf8e0;
    margin: 10px 500px 0 60px;
  }
  .plot-hero__button {
    background-color: #bb2326;
    color: #fbf8e0;
    padding: 12px 28px;
    margin: 10px 0 0 60px;
    border-radius: 4px;
    border: transparent;
    font-family: 'UglyQua', sans-serif;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }
  .plot-hero__button:hover {
    background-color: #fbf8e0;
    color: #bb2326;
  }

  .plot-details {
    background-position: center top;
    background-image: url(Images/PoC_Skull-and-Crossbones.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    height: 50vh;
    color: #fbf8e0;
  }
  .plot-details h2 {
    color: #fbf8e0;
}
  .plot-details__grid {
    margin: 0 80px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    justify-content: center;
    align-content: space-evenly;
    gap: 40px 80px;
  }
 
  .plot-synopsis {
    background-position: center;
    background-image: url(Images/parchment--background.jpg.avif);
    background-size: cover;
    max-width: 100%;
    padding-bottom: 40px;
  }
  .plot-synopsis__heading {
    padding: 40px 200px 10px 200px;
  }
  .plot-synopsis__copy { 
    text-indent: 3em;
    padding: 5px 200px;
  }
  /*END PLOT PAGE STYLES*/


  /*CAST PAGE STYLES*/

  /*END CAST PAGE STYLES*/


  /*SOUNDTRACK PAGE STYLES*/

.soundtrack_content {
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    margin-top: 30px;
    display: grid;
    grid-template-areas:
    'composers'
    'themes'
    'tracks';
  }

  .soundtrack_hero {
    position: relative;
    width: 100vw;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .soundtrack_hero_content {
    background-image: url(Images/parchment3.jpeg);
    background-size: cover;
    height: 33vh;
    width: 100vw;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
  }

  .soundtrack_hero_title {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
  }

  .soundtrack_hero_subtitle {
    text-align: center;
    position: absolute;
    padding-top: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
  }

  .soundtrack_h3 {
    color: white;
    text-shadow:
       3px 1.5px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 2px 0 #000,
       1px 1px 0 #000;
  }

  .soundtrack_content_composers_container, .soundtrack_content_theme_container {
    max-width: 80vw;
    margin: auto;
  }

  .soundtrack_content_composers_container {
    grid-area: composers;
  }

  .soundtrack_content_theme_container {
    grid-area: themes;
  }

  .soundtrack_theme_img, .soundtrack_composer_img {
    width: 200px;
    height: 200px;
    float: right;
    margin: 0 0 5px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

  .soundtrack_composer_text, .soundtrack_theme_text {
    max-width: 50vw;
    margin: 20px 0 20px;
  }

  .soundtrack_tracks_img {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

  .soundtrack_content_tracks_container {
    grid-area: tracks;
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 350px;
    column-gap: 50px;
    justify-items: center; 
    margin: 100px 0px 100px 0px;
    justify-content: center;
  }

  .soundtrack_track_description {
    margin-bottom: 20px;
  }

  .soundtrack_track_title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .soundtrack_tracks_img {
    float: left;
    margin-right: 15px;
  }


  /*END SOUNDTRACK PAGE STYLES*/


  /*BEHIND THE SCENES PAGE STYLES*/


  /*END BEHIND THE SCENES PAGE STYLES*/


